.App {
  text-align: center;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

.nav {
  /*border: 1px solid red;*/
  width: 100%;
  background-color: #ffeead;
  position: fixed;
  z-index: 200;
}

.below-nav {
  padding-top: 81px
}

.App-header {
  border-bottom: 1px solid #999999;
  height: 80px;
  /*position: fixed;*/
}

.logo {
  color: #999999;
  font-size: 28px;
  display: inline-block;
  /*border: 1px solid red;*/
  vertical-align: top;
  width: 220px;
}

.welcome {
  /*border: 1px solid red;*/
  font-size: 14px;
  padding-right: 10px;
}

.logo-space-after {
  display: inline-block;
  width: 45%;
  text-align: center;
  /*border: 1px solid red;*/
  vertical-align: top;
  margin-top: 40px;
}

.signin-signup {
  display: inline-block;
  text-align: right;
  /*border: 1px solid red;*/
  margin-top: 30px;
  width: 220px;
  vertical-align: top;

}

.login {
  padding-bottom: 10px;
  padding-top: 81px;
}

.signup {
  padding-bottom: 10px;
  padding-top: 81px;
}

.login-link {
  padding-bottom: 10px;
  border-right: 1px solid gray;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
}

.signup-link {
  display: inline-block;
  padding: 10px;
  /*border: 1px solid red;*/
  font-size: 12px;
}

.App-intro {
  font-size: large;
}

.nav-categories {
  display: inline-block;
}

.recipe-link {
  /*border: 1px solid red;*/
}

.nav-category {
  display: inline-block;
  /*width: 160px;*/
  font-size: 16px;
  padding: 10px 10px 0px 10px;
}

.nav-category:hover {
  background-color: #c1ffb6
}




/* Recipe New */
.recipe-new {
  /*border: 1px solid blue;*/
  padding: 20px;
}
