/*Homepage*/
.homepage {
  /*border: 1px solid blue;*/
  padding-top: 5%;
  width: 90%;
  margin: auto;
}

.main-image {
  width: 85%;
  margin: auto;
  z-index: -1;

  /*border: 1px solid red;*/
}

.row-container {
  width: 90%;
  margin: auto;
  /*border: 1px solid red;*/
}

.main-image img{
  /*border: 1px solid gray;*/
  width: 800px;
}

.buttons {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.recipe-featured-box {
  width: 260px;
  text-align: left;
  margin: 10px;
  padding: 20px;
  border: 1px solid green;
  display: inline-block;
  color: black;
}
