.App {
  text-align: center;
}

a {
  color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
  color: hotpink;
}

.nav {
  border: 1px solid red;
}

.App-header {
  background-color: yellow;
  height: 120px;
}

.logo {
  color: black;
  font-size: 2em;
  display: inline-block;
  /*border: 1px solid red;*/
  vertical-align: top;
}

.logo-space-after {
  display: inline-block;
  width: 30%;
}

.signin {
  display: inline-block;
  text-align: right;
  /*border: 1px solid red;*/
  margin-top: 50px;
  width: 15%;
}

.App-intro {
  font-size: large;
}

.nav-categories {
  display: inline-block;
}

.nav-category {
  display: inline-block;
  width: 160px;
  padding: 10px 40px 10px 40px;
}

.nav-category:hover {
  background-color: #c1ffb6
}

/*Homepage*/
.homepage {
  border: 1px solid blue;
}

/* Recipe Search */
.recipe-search {
  padding: 20px;
  border: 1px solid blue;
}

/* Recipe List */
.recipe-list {
  border: 1px solid blue;
  padding: 20px;
}

.recipe-box {
  width: 120px;
  text-align: left;
  margin: 10px;
  padding: 20px;
  border: 1px solid green;
  display: inline-block;
  color: black;
}

.recipe-featured-box {
  width: 260px;
  text-align: left;
  margin: 10px;
  padding: 20px;
  border: 1px solid green;
  display: inline-block;
  color: black;
}

/* Recipe New */
.recipe-new {
  border: 1px solid blue;
  padding: 20px;
}

input[type=text] {
    text-align: center;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 90%;
}

/* Recipe Show */
.recipe-show {
  border: 1px solid blue;
}

.recipe-upper {
  margin: 20px;
  border: 1px solid green;
  padding: 20px;
}

.recipe-show-img {
  margin: 20px;
  text-align: center;
  height: 426px;
  width: 426px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 1px 1px 1px 1px;
  display: inline-block;
}

.recipe-name-ingredient {
  /*border: 1px solid black;*/
  width: 40%;
  height: 425px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.recipe-name-img {
  vertical-align: top;
  /*border: 1px solid red;*/
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.recipe-ingredient-box {
  /*border: 1px solid gray;*/
  margin-left: 20px;
  margin-right: 20px;
}

.recipe-instructions {
  border: 1px solid green;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
